name: Test action

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  validate-ruff-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: ./
        with:
          src: tests/foobar.py